.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.toggle-tema {
  align-self: flex-end;
  width: 50px;
  height: 50px;
  border-radius: 100px;

  cursor: pointer;
  background-color: var(--primary-background-color);
}

.toggle-tema img {
  width: 30px;
  height: auto;
}

.header-content img {
  width: 100%;
  max-width: 260px;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.header-content .profile-name {
  font-family: "Inter";
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: var(--primary-text-color);
}

.header-content .profession-title {
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  color: var(--secondary-text-color);
}

.card-description .about-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  inline-size: 200px;
  color: var(--secondary-text-color);

  display: block;
  width: 100%;
}

.card-technologies ul {
  display: flex;
  list-style: none;
  padding: 10px;
  gap: 20px;
}

.card-links {
  display: flex;
  gap: 15px;
}

.card-links a {
  flex: 1;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 12px 16px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 30px;
}

.card-links a.linkedin {
  gap: 10px;
  color: var(--primary-button-text-color);
  background-color: var(--primary-button-background-color);
}

.card-links a.github {
  gap: 10px;
  color: var(--primary-button-text-color);
  background-color: var(--secondary-button-background-color);
}

.card-links a img {
  width: 26px;
  height: 26px;
}

/* ===== TABLET ===== */
@media (min-width: 768px) {
  .header-content img {
    max-width: 280px;
  }
  .card-description .about-text {
    text-align: center;
    font-size: 20px;
    inline-size: 400px;
  }

  .card-technologies ul {
    gap: 30px;
  }

  .card-links {
    gap: 30px;
  }

  .card-links a {
    min-width: 170px;
  }

  .card-links a img {
    width: 36px;
    height: 36px;
  }
}

/* ===== DESKTOP ===== */
@media (min-width: 1440px) {
  .header-content img {
    max-width: 340px;
  }

  .profile-name {
    font-size: 36px;
  }

  .card-description .about-text {
    text-align: center;
    font-size: 22px;
    inline-size: 400px;
  }

  .card-technologies ul {
    gap: 45px;
  }

  .card-links {
    gap: 40px;
  }

  .card-links a {
    min-width: 200px;
    font-size: 20px;
  }

  .card-links a img {
    width: 36px;
    height: 36px;
  }
}
