/* Regular */
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Cores de backgroud */
  --primary-background-color: #e6e7eb;
  --secondary-background-color: #f1f2f6;

  /* Cores de texto */
  --primary-text-color: #111111;
  --secondary-text-color: #5a5a5a;

  /* Botões */
  --primary-button-background-color: #0a66c2;
  --secondary-button-background-color: #2f2f2f;
  --primary-button-text-color: #ffffff;

  /* Borda e sombra */
  --shadow-dark: rgba(0, 0, 0, 0.12);
  --shadow-light: rgba(255, 255, 255, 0.9);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--primary-background-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 1rem;
}

.main-content {
  width: 100%;
  max-width: 320px;
  background-color: var(--secondary-background-color);
  border-radius: 28px;
  padding: 1.5rem;

  /* PROFUNDIDADE */
  box-shadow:
    -12px 12px 24px var(--shadow-dark),
    -24px 24px 24px var(--shadow-dark);

  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.main-content:hover {
  transform: translateY(-4px);

  box-shadow:
    16px 16px 30px rgba(0, 0, 0, 0.12),
    -16px -16px 30px rgba(0, 0, 0, 0.12);
}

/* ===== TABLET ===== */
@media (min-width: 768px) {
  .main-content {
    max-width: 420px;
    padding: 2rem;
  }
}

/* ===== DESKTOP ===== */
@media (min-width: 1440px) {
  .main-content {
    max-width: 560px;
    padding: 3rem;
  }
}
